*{
    margin: 0;
    padding: 0;
}

body{

}

.container{
    display: grid;
    min-width: 660px;
    min-height: 660px;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(50%, 2);
}

.elem{
    background: black;
    margin: 2px;
}